{% extends 'dashboard_base.html' %}

{% block style %}

    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
    background-color: whitesmoke;
    }

    .center{
    position: absolute;
    left: 45%;
    width: 25vw;
    border: 3px solid purple;
    padding: 10px;
    }

    .overall_container{
    width: 85vw;
    height: 100vh;
    position: absolute;
    left: 15vw;
    {#        border: solid red;#}
    }

    .image{
        height: 50vh;
        width: 85vw;
    }
{% endblock %}

{% block sideNav_content %}
    <li class="nav-item">
        <a class="nav-link active px-2 mb-3" aria-current="page" href="/dashboard">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 mb-3" aria-current="page" href="/file_converter">Processor</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="overall_container">
        {% load static %}
            <img src="{% static 'home/unii.jpeg' %}"
                 class="img-fluid image">
            <h1 class="text-center text-primary">BMET 3921: Biomedical Design and Technology</h1>
            <h2 class="text-center text-primary">Team 10 - Project F</h2>
            <h4 class="text-center text-primary">Elizabeth Smith - 490415100</h4>
            <h4 class="text-center text-primary">Greta Pigott - 490474196</h4>
            <h4 class="text-center text-primary">Ella Lambert - 490479216</h4>
            <h4 class="text-center text-primary">Sajeevan Saravanamuthu - 490416679</h4>
            <h4 class="text-center text-primary">Peter Le - 490124729</h4>
            <h4 class="text-center text-primary">Bich Vy Thai - 490301412</h4>
            <h4 class="text-center text-primary">Thomas Grannall - 490476570</h4>
    </div>
{% endblock %}